$primary-color: #4d455d;
$secondary-color: #e96479;
$tertiary-color: #f5e9cf;
$light-cyan: #7db9b6;

$text-black: #000000;
$text-white: #ffffff;

$dark-grey: #535353;
$light-grey: #aaaaaa;

$bg-color: #191825;

$transition-speed: 0.3s;
