@import "variables";
@import "mixins";
@import "animations";

.footer {
    padding-bottom: 1em;
    color: $light-grey;
    font-size: 1.1em;
    text-align: center;

    .tech-stack {
        display: flex;
        justify-content: center;
        align-items: center;

        & > div {
            margin: 0 .3em;
        }
    }
    
    .coffee {
        font-size: .8em;
        margin-top: .8em;
    }
}