@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

html,
body,
input,
textarea,
button,
select {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: $text-white;
  font-size: 16px;
}

button {
  outline: none !important;
}

body {
  background-color: $bg-color;
}

/* Containers */
.container {
  margin: 2em auto;
  padding: 0 2em;
  max-width: 1200px;
}

.container-limited {
  max-width: 768px;
  margin: 2em auto;
  padding: 0 2em;
}

@media (max-width: 576px) {
  .container,
  .container-limited {
    margin: 1em auto;
    padding: 0;
  }
}
/* Containers -- End */

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $light-grey;
  border-radius: 100em;
}
